@model HomeVM
<footer>
    <section id="image"></section>
    <div class="contacts">
        <div class="container">
            <div class="row">
                <div class="con">
                    <div class="contact">
                        <h1>@Model.Settings.FooterName</h1>
                    </div>
                    <div class="title">
                        <p>
                            @Model.Settings.FooterTitle
                        </p>
                    </div>

                    <div class="icon">
                        <div class="content col-lg-4 col-md-12 col-sm-12">
                            <i class="@Model.Settings.PhoneIconUrl"></i>
                            <p>@Model.Settings.Phone</p>
                        </div>
                        <div class="content col-lg-4 col-md-12 col-sm-12">
                            <i class="@Model.Settings.GmailIconUrl"></i>
                            <p>@Model.Settings.GmailText</p>
                        </div>
                    </div>
                    <div class="icon2">
                        <div class="content col-lg-4 col-md-12 col-sm-12">
                            <i class="@Model.Settings.LocIconUrl"></i>
                            <p>@Model.Settings.LocText</p>
                        </div>
                        <div class="content col-lg-4 col-md-12 col-sm-12">
                            <form action="">
                                <input type="email" placeholder="Subscribe your email"><a href="">Submit</a>
                            </form>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <div class="copy">@Model.Settings.Copyrigth</div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
            integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="../assets/javascript/index.js"></script>
</footer>
